/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* USEFUL */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* MAIN COLOR */
/* #ffcf90 */

/* SECONDARY COLOR */
/* #0f0c2b MAIN BLUE */
/* #17142c LIGHTER BLUE */
/* #1c1b25 DARK GREY */


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* GENERAL STYLING */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #ffffff;
  color: white;
}

ul {
  list-style: none;
}

.btn:hover {
  background-color: #ffcf90;
  color: white;
}

.btn:active {
  background-color: #f5b665;
  color: white;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* MAIN */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#main {
  color: black;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* HTML FILE STYLING */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.mr-0 {
  margin-right: 0;
}

#map-container {
  padding-right: 0;
}

.index-first {
  z-index: 1000;
  position: absolute;
}

.index-last {
  z-index: 0;
  position: relative;
}

.bg-white {
  background-color: white;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* GOOGLE MAP API */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/


#map {
  height: 100vh;
  /* The height is 100% viewheight */
  width: 100%;
  /* The width is the width of the web page */
  padding: 0;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}


#footer {
  margin-top: 50px;
  border-top: 5px solid #17142c;
  padding: 20px 0;
  background-color: #1c1b25;
  color: white;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* FOOTER */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.footer-links a {
  text-decoration: none;
  color: white;
  font-size: medium;
}

.footer-links a:hover {
  color: #ffcf90;
}

.copyright-links a {
  text-decoration: none;
  color: white;
  font-size: medium;
}

.copyright-links a:hover {
  color: #ffcf90;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* MODAL */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.modal-body {
  padding: 0px;
}

.moform {
  box-shadow: 0 4px 6px 0px rgba(22, 22, 26, 0.18);
}

.btn-close {
  position: absolute;
  right: 0;
  padding: 1em;
}

.modal-content {
  width: 80%;
  margin: 0px auto;
  background-color: rgba(22, 22, 26, 0.7);
}

.modal-body {
  padding: 0px;
}

.modal-h1 {
  font-size: 2.3em;
  font-weight: bold;
}

.my-form {
  padding: 2em;
  max-width: 100%;
  color: #FFFFFF;
  background-color: rgba(22, 22, 26, 0.18);
  box-shadow: 0 4px 6px 0px rgba(22, 22, 26, 0.18);

  @media(max-width: 576px) {
    max-width: 90%;
    margin: 0px auto;
  }
}

.form-control {
  background-color: inherit;
  color: #fff;
  padding-left: 0px;
  border: 0px;
  border-bottom: 1px solid #fff;
}

.my-form .btn {
  width: 100%;
  font-weight: 800;
  background-color: #fff;
  border-radius: 0;
  padding: 0.5em 0;
}

.my-form .btn:hover {
  color: #333;
}

.login-form-p {
  text-align: center;
  padding-top: 2em;
  color: grey;
}

.login-form-p a {
  color: #e1e1e1;
  text-decoration: none;
}

.login-form-p a:hover {
  color: #fff;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* SIGNUP MODAL */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Full-width input fields */
.signup-form-input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  background-color: inherit;
  color: #fff;
  padding-left: 5px;
  border: 0px;
  border-bottom: 1px solid #fff;
  border-radius: 5px;
}

/* Add a background color when the inputs get focus */
.signup-form-input:focus {
  background-color: rgb(255, 255, 255);
  color: #000;
  outline: none;
}

/* Set a style for all signup form buttons */
.btn-signup-form {
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn-signup-form:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: white;
  color: #000;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.signup-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  padding-top: 50px;
}

/* Modal Content/Box */
.signup-modal-content {
  background-color: rgba(22, 22, 26, 0.8);
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: rgba(122, 122, 122, 0.603);
}

.close:hover,
.close:focus {
  color: #c0c0c0;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}