/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* USEFUL */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* MAIN COLOR */
/* #ffcf90 GOLD YELLOW */
/* #ffab4a DARKER YELLOW */

/* SECONDARY COLOR */
/* #0f0c2b MAIN BLUE */
/* #17142c LIGHTER BLUE */
/* #1c1b25 DARK GREY */


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* GENERAL STYLING */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #0f0c2b;
  color: white;
}

.btn:hover {
  background-color: #ffcf90;
  color: white;
}

.btn:active {
  background-color: #f5b665;
  color: white;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* HEADER */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#header {
  padding: 20px 0;
  position: fixed;
  margin-top: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  z-index: 99;
}

#header .row,
footer .row {
  display: flex;
  align-items: center;
}

#header h1 {
  font-weight: 700;
  margin: 0;
}

#header nav {
  display: flex;
  justify-content: flex-end;
}

#header p {
  padding: 0 20px;
  margin: 0;
}

.nav-link {
  margin: 0 15px;
  border-right: 2px solid white;
  color: #ffcf90;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:active {
  color: #ffab4a;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* SLIDER SECTION */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.slider {
  display: flex;
  align-items: center;
  background-image: url('../img/Slider2.jpg');
  background-size: cover;
  color: #ffffff;
  height: 100vh;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.slider h1 {
  font-size: 7em;
  font-weight: 700;
  margin: 0;
  color: #ffcf90;
}

.slider h2 {
  font-size: 3em;
  font-weight: 500;
  margin: 0;
  color: #fff;
}

.slider h3 {
  margin: 0 0 50px;
  color: #fff;
}

.slider-btn a {
  margin: 0 2vw;
}

.slider-btn a>button {
  background-color: white;
  border-radius: 20px;
  padding: 10px 25px;
}

.row-attrazioni {
  text-align: center;
  margin: 1em;
  padding: 1em;
  position: relative;
  top: 15vh;
}

.div-attrazione {
  text-align: center;
  padding: 1em;
}

.link-attrazione img {
  width: 30vw;
  height: 20vh;
  border: 3px solid white;
  border-bottom: 0;
  border-radius: 50%;
  opacity: 1;
}

.link-attrazione img:hover {
  opacity: 0.8;
}

section .row img {

  width: 75%;
}


.col-sm-2 {
  margin-top: 90px;
  margin-bottom: 90px;
  display: flex;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* CONTENT SECTION */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#image-track {
  display: flex;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  opacity: 1;
}

#image-track>.image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

.image-track-link {
  display: flex;
  position: relative;
  height: fit-content;
  left: -30%;
  z-index: 9;
  text-decoration: none;
  font-size: 2em;
  color: black;
  margin: 15px 0px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 2px 15px;
}

.image-track-link:hover {
  color: #ffcf90;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ATTRAZIONI SETTIMANA SECTION */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.img-attrazione-week {
  background: url('/Pathways/WebContent/img/milano.jpg') no-repeat center center / cover;
  width: 100% !important;
  height: 50%;
  min-height: 300px;
  min-width: 300px;
  z-index: 0;
}

.col-center {
  margin: 0 auto;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* NOTIZIE SECTION */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.row-notizie img {
  width: 100% !important;
  height: 35vh !important;
}

.card-body {
  color: black;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* FOOTER */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

#footer {
  margin-top: 50px;
  border-top: 5px solid #17142c;
  padding: 20px 0;
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-size: medium;
}

.footer-links a:hover {
  color: #ffcf90;
}

.copyright-links a {
  text-decoration: none;
  color: white;
  font-size: medium;
}

.copyright-links a:hover {
  color: #ffcf90;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ICONS */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Style all font awesome icons */
.fa {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Hover effect */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa {
  margin: 0 10px;
  padding: 10px 0;
  border-radius: 20%;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* MODAL */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.moform {
  box-shadow: 0 4px 6px 0px rgba(22, 22, 26, 0.18);
}

.btn-close {
  position: absolute;
  right: 0;
  padding: 1em;
}

.modal-content {
  width: 80%;
  margin: 0px auto;
  background-color: rgba(22, 22, 26, 0.85);
}

.modal-body {
  padding: 0px;
}

.modal-h1 {
  font-size: 2.3em;
  font-weight: bold;
}

.my-form {
  padding: 2em;
  max-width: 100%;
  color: #FFFFFF;
  background-color: rgba(22, 22, 26, 0.18);
  box-shadow: 0 4px 6px 0px rgba(22, 22, 26, 0.18);

  @media(max-width: 576px) {
    max-width: 90%;
    margin: 0px auto;
  }
}

.form-control {
  background-color: inherit;
  color: #fff;
  padding-left: 0px;
  border: 0px;
  border-bottom: 1px solid #fff;
}

.my-form .btn {
  width: 100%;
  font-weight: 800;
  background-color: #fff;
  border-radius: 0;
  padding: 0.5em 0;
}

.my-form .btn:hover {
  color: #333;
}

.login-form-p {
  text-align: center;
  padding-top: 2em;
  color: grey;
}

.login-form-p a {
  color: #e1e1e1;
  text-decoration: none;
}

.login-form-p a:hover {
  color: #fff;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* SIGNUP MODAL */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Full-width input fields */
.signup-form-input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  background-color: inherit;
  color: #fff;
  padding-left: 5px;
  border: 0px;
  border-bottom: 1px solid #fff;
  border-radius: 5px;
}

/* Add a background color when the inputs get focus */
.signup-form-input:focus {
  background-color: rgb(255, 255, 255);
  color: #000;
  outline: none;
}

/* Set a style for all signup form buttons */
.btn-signup-form {
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn-signup-form:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: white;
  color: #000;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.signup-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  padding-top: 50px;
}

/* Modal Content/Box */
.signup-modal-content {
  background-color: rgba(22, 22, 26, 0.85);
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: rgba(122, 122, 122, 0.603);
}

.close:hover,
.close:focus {
  color: #c0c0c0;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* VIDEO BOX */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Layout */
.wrap {
  position: relative;
  max-width: 1000px;
  width: 90%;
  margin: 100px auto;
}

/* The outer-div to move the elements */
.box-video {
  position: relative;
  width: 100%;
  margin: 0 auto 20px auto;
  cursor: pointer;
  overflow: hidden;
}

/* Set Cover aka Background-Image */
.box-video .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

/* Add light shade to make play button visible*/
.bg-video::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 3;
}


/* The Play-Button using CSS-Only */
.box-video .bt-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  display: inline-block;
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  text-indent: -999em;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

/* The Play-Triangle */
.box-video .bt-play:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 0;
  width: 0;
  margin: -12px 0 0 -6px;
  border: solid transparent;
  border-left-color: #000;
  border-width: 12px 20px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.box-video:hover .bt-play {
  transform: scale(1.1);
}

/* When Class added the Cover gets hidden... */
.box-video.open .bg-video {
  visibility: hidden;
  opacity: 0;

  -webkit-transition: all .6s .8s;
  transition: all .6s .8s;
}

/* and iframe shows up */
.box-video.open .video-container {
  opacity: 1;
  -webkit-transition: all .6s .8s;
  transition: all .6s .8s;
}

/* Giving the div ratio of 16:9 with padding */
.video-container {
  position: relative;
  width: 100%;
  height: 0;
  margin: 0;
  z-index: 1;
  padding-bottom: 56.27198%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* GO TO TOP */
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#button {
  display: inline-block;
  background-color: #ffcf90;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 50px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #000;
}

#button:hover {
  cursor: pointer;
  background-color: #ffab4a;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}